.pinbox-iframe{
    border: none;
    display: block;
    overflow: visible;
    position: fixed;
    overflow: hidden;
    right: 0px;
    top: 0px;
    left: auto;
    float: none;
    z-index: 2147483647;
    background: transparent;
    width: 700px;
    max-width: 100%;
    height: 700px;
    font-family: "Microsoft YaHei", "微软雅黑",'Google Sans',
                "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",
                Roboto,
                Arial,
                sans-serif,
                serif,
                STXihei, "华文细黑";
}
.pinbox-shortcut-box{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 2147483647;
    font-family: "Microsoft YaHei", "微软雅黑",'Google Sans',
                "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",
                Roboto,
                Arial,
                sans-serif,
                serif,
                STXihei, "华文细黑";
}
.pinbox-shortcut-content{
	max-width: 820px;
	max-height: 80%;
    width: 80%;
	overflow: auto;
	background-color: #fff;
	box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
    background: rgba(0,0,0,.6);
    border-radius: 24px;
}
.pinbox-shortcut-content::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.pinbox-shortcut-content::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.pinbox-shortcut-content::-webkit-scrollbar-thumb:vertical{
    height: 5px;
    background-color: transparent;
}
.pinbox-shortcut-content::-webkit-scrollbar-thumb:horizontal{
    width: 5px;
    background-color: #e2e2e2;
}
.pinbox-shortcut-content:hover::-webkit-scrollbar-thumb:vertical{
    background-color: #e2e2e2;
}
.pinbox-shortcut-item{
    position: relative;
	width: 230px;
	height: 220px;
	box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
	background-color: #fff;
	margin: 10px;
	box-sizing: border-box;
    transition: all .2s;
    border-radius: 10px;
}
.pinbox-shortcut-item-active{
	transform: scale(1.1);
}
.pinbox-shortcut-item-title{
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: #000;
    padding: 10px;
}
.pinbox-shortcut-item-des{
    position: relative;
	flex: 1;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    box-sizing: border-box;
    cursor: pointer;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pinbox-shortcut-item-des-default{
    position: relative;
	flex: 1;
    width: 100%;
    overflow: hidden;
    color: #666;
    line-height: 140px;
    box-sizing: border-box;
    cursor: pointer;
    height: 140px;
    background: #bcd7fd;
    color: #6799e2;
    font-size: 100px;
    text-align: center;
}
.pinbox-shortcut-item-note{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    line-height: 1.8;
    font-size: 14px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 100;
    letter-spacing: 0.2px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    overflow: hidden;
}
.pinbox-shortcut-item-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    padding: 0 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
    align-items: center;
    overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.pinbox-shortcut-item-icon{
	background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 100%;
    margin-right: 8px;
    background-image: url(https://withpinbox.com/static/img/bookmark.png);
}
.pinbox-shortcut-item-url{
	flex: 1;
	font-size: 12px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
}
.pinbox-recommend{
    position: relative;
    padding: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    margin-bottom: 30px;
    font-family: "Microsoft YaHei", "微软雅黑",'Google Sans',
                "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica",
                Roboto,
                Arial,
                sans-serif,
                serif,
                STXihei, "华文细黑";
}
.pinbox-recommend a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
.pinbox-recommend a:hover{
    text-decoration: none !important;
}
.pinbox-recommend-google{
    position: relative;
    width: 457px;
    box-sizing: border-box;
}

.pinbox-logo{
    background-repeat: no-repeat;
    background-position: left center;
    height: 50px;
    background-image: url(https://withpinbox.com/static/img/pinbox_logo.png);
    cursor: pointer;
}
.pinbox-recommend-baidu{
    position: relative;
    padding: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: 33px;
}
.pinbox-recommend-sogou{
    position: relative;
    padding: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: 15px;
}
.pinbox-recommend-dogedoge{
    position: absolute;
    right: 0;
    top: 70px;
    width: 380px;
    padding: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}
.pinbox-recommend-item{
    display: block;
    text-decoration: none;
    outline: none;
    color: inherit;
    padding: 15px 0;
    border-bottom: 1px solid #dfe1e5;
}
.pinbox-recommend-item:last-child{
    border-bottom: none;
}
.pinbox-recommend-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://withpinbox.com/static/img/close.png);
    cursor: pointer;
    background-size: 12px;

}
.pinbox-recommend-item-title{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pinbox-recommend-item-tagbox{
    display: flex;
    margin: 12px 0 6px;
}
.pinbox-recommend-item-tag-item{
    color: #333;
    padding: 2px 4px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 4px;
    cursor: pointer;
}
.pinbox-recommend-item-url{
    font-size: 12px;
    color: #333;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.pinbox-recommend-item-text{
    width: 100%;
    font-size: 14px;
    color: #000;
    line-height: 1.6;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 0.2px;
}
.pinbox-recommend-item-text-content{
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.pinbox-text-view-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,.6);
    overflow:hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2147483647;
}
.pinbox-text-view-content{
    position: relative;
    max-width: 900px;
    width: 90%;
    height: 90%;
    padding: 26px 26px 70px 26px;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
    background: #fff;
    box-sizing: border-box;
    user-select: text;
    border-radius: 24px;
    color: #000;
    overflow: auto;
    font-size: 18px;
    line-height: 2;
}
.pinbox-recommend-item-img-content{
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
}
.pinbox-image-view-content{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.image-hover-btn{
    position: absolute;
    padding: 5px 14px;
    background: rgba(0,0,0, .62);
    font-size: 13px;
    color: #fff;
    display: none;
    border-radius: 3px;
    z-index: 2147483647;
    cursor: pointer;
}
.pinbox-recommend-more{
    display: block;
    font-size: 12px;
    padding: 15px 0 0;
    cursor: pointer;
    text-align: right;
}
